// tailwind.config.ts
import type { Config } from 'tailwindcss'

const config: Config = {
  content: [
    './components/**/*.{vue,js,ts}',
    './layouts/**/*.vue',
    './pages/**/*.vue',
    './composables/**/*.{js,ts}',
    './plugins/**/*.{js,ts}',
    './app.vue',
    './content/**/*.{md,json,yml}', // Pour nuxt content
  ],
  theme: {
    extend: {
      colors: {
        primary: '#FFC800',
      },
      fontFamily: {
        // Les noms doivent correspondre à ceux que tu définis dans ton CSS/global (via Adobe Fonts)
        fields: ['Fields', 'sans-serif'],
        ptsans: ['"PT Sans"', 'sans-serif'],
      }
    }
  },
  plugins: [],
  darkMode: 'class', // si tu veux gérer le mode sombre par classe 'dark'
}

export default config
